<footer class="footer-section">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget company-intro-widget">
          <!--  <a href="index.html" class="site-logo">
              <h5 style="display: inline-block;" class="widget-title"></h5>
              <img src="/assets/images/logo.gif" alt="logo" style="border-radius: 50%;">
            </a>-->
            <h5 class="widget-title">HEAD OFFICE</h5>
            <p>
              <a style="color: white;" onmouseover="this.style.color='#db6150';" onmouseout="this.style.color='white';" href="https://www.google.com/maps/place/Chromepet,+Chennai,+Tamil+Nadu/@12.9496295,80.1256834,14z/data=!3m1!4b1!4m6!3m5!1s0x3a525fb1cef75f81:0xe2956fefeaa0fa80!8m2!3d12.951611!4d80.1461663!16zL20vMDVnZmYx">
                Bon Voyage Pvt LTD,<br>
                Grand Southern Trunk Road<br>
                Chrompet, Chennai – 600044<br>
                Tamilnadu, India.
              </a>
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget course-links-widget">
            <h5 class="widget-title">OUR BRANCHES</h5>
            <ul class="courses-link-list">
              <li><a href="https://www.google.com/maps/place/Hyderabad,+Telangana/@17.412281,78.243232,11z/data=!3m1!4b1!4m6!3m5!1s0x3bcb99daeaebd2c7:0xae93b78392bafbc2!8m2!3d17.385044!4d78.486671!16zL20vMDljNnc"><i class="fas fa-long-arrow-alt-right"></i>Hyderabad</a></li>
              <li><a href="https://www.google.com/maps/place/Bengaluru,+Karnataka/@12.9539456,77.4661255,11z/data=!3m1!4b1!4m6!3m5!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627!16zL20vMDljMTc"><i class="fas fa-long-arrow-alt-right"></i>Bangalore</a></li>
              <li><a href="https://www.google.com/maps/place/Chennai,+Tamil+Nadu/@13.0474733,80.0441978,11z/data=!3m1!4b1!4m6!3m5!1s0x3a5265ea4f7d3361:0x6e61a70b6863d433!8m2!3d13.0826802!4d80.2707184!16zL20vMGM4dGs"><i class="fas fa-long-arrow-alt-right"></i>Chennai</a></li>
              <li><a href="https://www.google.com/maps/place/Coimbatore,+Tamil+Nadu/@11.0116985,76.8848328,12z/data=!3m1!4b1!4m6!3m5!1s0x3ba859af2f971cb5:0x2fc1c81e183ed282!8m2!3d11.0168445!4d76.9558321!16zL20vMDE5ZmM0"><i class="fas fa-long-arrow-alt-right"></i>Coimbatore</a></li>
              <li><a href="https://www.google.com/maps/place/Madurai,+Tamil+Nadu/@9.9178268,78.0404214,12z/data=!3m1!4b1!4m6!3m5!1s0x3b00c582b1189633:0xdc955b7264f63933!8m2!3d9.9252007!4d78.1197754!16zL20vMDE5ZmJw"><i class="fas fa-long-arrow-alt-right"></i>Madurai</a></li>
              <li><a href="https://www.google.com/maps/place/Salem,+Tamil+Nadu/@11.6537234,78.055895,12z/data=!3m1!4b1!4m6!3m5!1s0x3babf1ccf52cba0b:0xee9989007068ca47!8m2!3d11.664325!4d78.1460142!16zL20vMDFqbmdz"><i class="fas fa-long-arrow-alt-right"></i>Salem</a></li>
              <li><a href="https://www.google.com/maps/place/Kochi,+Kerala/@9.9823315,76.1361196,11z/data=!3m1!4b1!4m6!3m5!1s0x3b080d514abec6bf:0xbd582caa5844192!8m2!3d9.9312328!4d76.2673041!16zL20vMGZsMnM"><i class="fas fa-long-arrow-alt-right"></i>Kochi</a></li>
              <li><a href="https://www.google.com/maps/place/Kanyakumari,+Tamil+Nadu/@8.0864019,77.5355707,15z/data=!3m1!4b1!4m6!3m5!1s0x3b04ed3d2a087861:0x1e790e896aeffaa0!8m2!3d8.0883064!4d77.5384507!16zL20vMDF0eG1s"><i class="fas fa-long-arrow-alt-right"></i>Kanyakumari</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget latest-news-widget">
            <h5 class="widget-title">CALL US</h5>
            <ul class="small-post-list">
              <li>
                <div class="small-post-item" style="padding-bottom: 70px;">
                  <a href="tel:7904037062" class="post-date">+91 7904037062</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="widget latest-news-widget">
            <h5 class="widget-title">EMAIL US</h5>
            <ul class="small-post-list">
              <li>
                <div class="small-post-item">
                  <a href="mailto:bonvoyageproject1@gmail.com" class="post-date">bonvoyageproject1@gmail.com</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="widget latest-news-widget">
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 social-menu">
          <div class="widget latest-news-widget">
            <h5 class="widget-title">FOLLOW US</h5>
            <ul class="small-post-list">
              <li style="display: inline-block; padding: 20px; position: relative; top: 12px; right: 1px; color: #4267B2"><a href = "https://www.facebook.com/#bonvoyage"><i class="fa-brands fa-facebook-f fa-2xl" style="position: relative; top: 10px; right: 1px; color: #4267B2"></i></a></li>
              <li style="display: inline-block; padding: 20px; position: relative; top: 12px; right: 0.5px; color:black"><a href = "https://www.instagram.com/#bonvoyage"><i class="fa-brands fa-instagram fa-2xl"style="position: relative; top: 8px; right: 0.5px; color:black"></i></a></li>
              <li style="display: inline-block; padding: 20px; position: relative; top: 12px; left: 1px; color: #1DA1F2"><a href = "https://twitter.com/#bonvoyage"><i class="fa-brands fa-twitter fa-2xl"style="position: relative; top: 10px; left: 1px; color: #1DA1F2"></i></a></li>
            </ul>
          </div>
        </div>
      <!--  <a href="index.html" class="site-logo">
          <h5 style="display: inline-block;" class="widget-title"></h5>
          <img src="/assets/images/logo.gif" alt="logo" style="border-radius: 50%;">
        </a>-->





      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 text-sm-left ">
            <span class="copy-right-text">Copyright © 2023 by Bon Voyage Pvt Ltd. All Rights Reserved.</span>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="terms-privacy d-flex justify-content-sm-end justify-content-center">
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div><!-- footer-bottom end -->
</footer>
