/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,100;1,100&display=swap');

body{
  overflow-x: hidden;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}
.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid #db6150;
  padding-left: 15px;
  color: #db6150;
}
.form-button {
  height: 35px;
  border: 1px solid #db6150;
  color: #db6150;
  cursor: pointer;
}
.error-p{
  color: red;
  text-align: center;
  font-size: large;
}

.message-p{
  color: green;
  text-align: center;
}

.invalid-input{
  color: #990000;
  font-weight: bold;
  font-size: 12px;
  margin-top:-20px
}

button:disabled{
  cursor: not-allowed;
}
.max-width{
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/**********************************************************************************************************************************/


