<app-navbar></app-navbar>
<br>

<!--<div>
  <img src='/assets/images/Hero.jpeg' alt="Bon Voyage">
  <h3>Bon Voyage</h3>
  <p>The real voyage of discovery consists not in seeking new landscapes, but in having new eyes. Discover it with Bon Voyage.</p>
</div>-->

<section id="hero"></section>

<div>
  <h1 class="mt-5">&nbsp;{{title}}</h1>
  <p class="subtitle">{{para}}</p>
</div>

<div class="container-fluid">
  <h1 class="mt-5">Exciting Offers</h1>
  <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">

    <div class="col-3">
      <img src="/assets/images/offer-north.png" alt="offer-north" class="card" routerLink="/northindia">
    </div>
    <div class="col-3">
      <img src="/assets/images/offer-south.png" alt="offer-south" class="card" routerLink="/SouthIndia">
    </div>
    <div class="col-3">
      <img src="/assets/images/offer-east.png" alt="offer-east"class="card" routerLink="/EastIndia">
    </div>
    <div class="col-3">
      <img src="/assets/images/offer-west.png" alt="offer-west" class="card" routerLink="/WestIndia">
    </div>
    <div class="col-3">
      <img src="/assets/images/offer-family.png" alt="offer-family" class="card">
    </div>
    <div class="col-3">
      <img src="/assets/images/offer-honeymoon.png" alt="offer-honeymoon" class="card">
    </div>
  </div>
</div>

<h1 class="mt-5">&nbsp;Group Departures</h1><br><br><br>
<div class="group">
  <img src="/assets/images/group-tours.png" alt="group-tours">
</div><br><br><br><br><br>

<app-footer></app-footer>

<!------------------------------------------------------------------------------------------------------------------------------------->
<!--https://www.allianz-partners.com/en_global/products/travel/_jcr_content/root/parsys/wrapper_copy/wrapper/image.img.82.3360.jpeg/1656941434579/travel-1800x600px.jpeg
  https://www.google.com/url?sa=i&url=https%3A%2F%2Fenglish.loktej.com%2Farticle%2F1385%2Finternational-road-trips-you-can-plan-from-india&psig=AOvVaw2OBsc5ko2cNvwMhMNKzpn0&ust=1682761278916000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJjB1bSkzP4CFQAAAAAdAAAAABAF
  https://www.thalesgroup.com/sites/default/files/gemalto/passport-trend-banner.jpg
  https://www.zurich.com.my/-/media/project/zwp/malaysia/images/insurance-products/thumbnails/image_thumbnail_z-travel-international.jpg?rev=7660e7d45bd84f748b9fb1ddab97a7e8&w=737&hash=505C09957B72E128668EAD8AC607D65D
  https://storage.googleapis.com/gweb-uniblog-publish-prod/original_images/Summer_Travel_Helpfulness_hero_1.png
  https://img.traveltriangle.com/assets/seo_home/banner-image-e24c2e8cb056006b8d1d57bb2d6de66e.jpg
-->


